#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
}

.header {
  background: #fff1b8;

  h1 {
    margin: 0;
    color: #613400;
  }

  .header_button_container {
    display: flex;
    gap: 10px;
  }
}
