.task {
    &__wrapper {
        margin: 40px;
        border-top: 2px solid rgb(199, 123, 37);
    }
    &__column {
        display: flex;
        flex-direction: column;
        gap: 16px;
        flex: 1;
    }
    &__label-column {
        display: flex;
        flex-direction: column;
        gap: 16px;
        height: 100%;
        flex: 1;
    }
    &__board-name {
        color: #613400;
    }
    &__title {
        margin: 0;
        padding: 10px;
        color: #ad6800;
    }
    &__card {
        flex: 1;
        min-height: 250px;
        max-height: 400px;
    }
    &__button {
        font-size: 15px;
        margin-top: 30px;
        margin-left: 40px;
        align-self: start;
    }
    &__card-wrapper {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
}
.task-open__wrapper {
    max-width: 1000px;
    margin: 10px auto;
    border-radius: 20px;
    border: 2px solid #fff1b8;
}
.task__card .ant-card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.ant-row {
    display: flex;
    gap: 16px;
    align-items: stretch;
}

.task__card-wrapper .ant-card {
    display: flex;
    flex-direction: column;
}
